.header {
  @media only screen and (max-width: 440px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 3.3rem;
    text-shadow: 2px 3px 0px $color-1;
    text-align: center;
    letter-spacing: 2px;
    @media only screen and (max-width: 720px) {
        text-align: right;
        font-size: 32px;
        margin: 10px 16px 20px;
    }
  }
  nav {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 1.3rem;
    @media only screen and (max-width: 440px) {
      position: inherit;
    }

    ul {
      display: flex;

      a {
        text-decoration: none;
        color: $white;
        border-radius: 10px;
        width: 102px;
        text-align: center;
        margin-right: 5px;

        &:visited {
          text-decoration: none;
          color: $white;
        }
        &:hover {
          background: $color-4;
          color: #000;
        }
      }
      a.nav-active {
        background: $color-1;

        &:hover {
          background: $color-4;
          color: #000;
        }
      }
    }
  }
}
